
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="font-secondary text-primary mb-4">Superhero Stack </h1>
                    <h1 class="display-1 text-uppercase text-white mb-4">The Ultimate</h1>
                    <h1 class="text-uppercase text-white">Superhero Collection</h1>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                         <%= link_to "View All", superheroes_path, class: "btn btn-primary border-inner py-3 px-5 me-5" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- About Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h1 class="display-4 text-uppercase">Welcome To The Superhero Stack</h1>
            </div>
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <%= image_tag 'ironman.png' , class: "img-fluid"  %>
                    </div>
                </div>
                <div class="col-lg-6 pb-5">
                    <h4 class="mb-4">Here you'll find an in-depth collection of your favorite superheroes. <br><br>Compare their powerstats such as power, intelligence, speed, and strenth.</h4>
                    <div class="row g-5">
                        <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->