
 <section id="home" class = "intro">
          <div class = "container">
              <div class = "row align-items-center">
              <div class="col-md-6">
                  <h1 class = "display-left">
                      <span class = "display-left-intro text-white"> The ULTIMATE Superhero Collection</span><br>
                      <span class = "display-left-link">  
                      <br>   
                      <%= link_to "Check It Out", superheroes_path %>
                      </span>
                  </h1>

              </div>

                <div class="col-md-6 intros text-end">
                    <div class="container img-container">
                    <%= image_tag "superman-dark.png", :class => "image" %>
                    </div>
                </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,128L48,144C96,160,192,192,288,181.3C384,171,480,117,576,106.7C672,96,768,128,864,122.7C960,117,1056,75,1152,69.3C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
      </section>