<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-4" style="max-width: 600px;">
            <h1 class="mb-3">Universes</h1>
        </div>
    <div class="row g-4 justify-content-center">
        <% @universes.each do |universe| %>
        <div class="col-lg-3 col-md-6">
            <div class= "hero-card border-top border-5 border-primary rounded shadow overflow-hidden">
                <div class="text-center p-4">
                <% if universe.name === "DC"%>
                <%= image_tag "dc.png", class: "img-fluid logo rounded-circle mb-4" %>
                <% else %>
                <%= image_tag "marvel.jpg", class: "img-fluid logo rounded-circle mb-4"%>
                <% end %>
                    <h3 class="text-center"> <%= universe.name%> </h3>
                </div>
                <div class="d-flex justify-content-center bg-primary p-3">
                    <%= link_to "READ MORE", universe_path(universe), class: "btn border-inner py-3 px-5 text-white" %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
 </div>
 </div>

