
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-4" style="max-width: 600px;">
            <h1 class="mb-3">Categories</h1>
        </div>
    <div class="row g-4">
        <div class="col-lg-3 col-md-6">
            <div class= "hero-card border-top border-5 border-primary rounded shadow overflow-hidden">
                <div class="text-center p-4">
                    <h3 class="text-center"> Speedster </h3>
                </div>
                <div class="d-flex justify-content-center bg-primary p-3">
                </div>
            </div>
        </div>

    </div>
 </div>
 </div>
